* {
margin: 0;
font-family: Arial;
border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 113px;

}
.logo{
   background-image: url("amazon_logo.png"); 
   background-size: cover;
   height: 50px;
   width: 113px; 
}

.border{
    border: 2px solid transparent;
    
}

.border:hover{
    border: 2px solid white;
}


/** box2 **/
.add-f{
    font-size: 12px;
    color: #cccccc;
    margin-left: 15px;
}

.add-s{
    font-size: 14px;
    color: #ffffff;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}


/** box3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 630px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-icon{
   width: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   background-color:#febd68;
   border-top-right-radius:5px ;
   border-bottom-right-radius: 5px;
   color: #0f1111 ;
  
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    width: 500px;
    font-size: 15px;
    border: none;
}

/** box 4 **/

.india-flag{
    background-image: url("india-icon.jpeg");
    background-size: cover;
    height: 16px;
   width: 24px;
   margin-right: 5px; 
}

.lang{
    display: flex;
    align-items: center;
}

.lang-select{
    border: none;
}

/**   **/

.hello{
    font-size: 12px;
}

.list{
font-size: 14px;
font-weight: 700;
}


/** **/

.cart{
    display: flex;
    align-items: baseline;
}

.cart i {
    font-size: 30px;
}
.cart p{
    font-size: 14px;
    font-weight: 700;
}

/** Panel **/

.panel{
    height: 39px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-option p{
    display: inline;
    margin-left: 15px;
    
}
.panel-menu{
    display: flex;
}
.panel-option{
    width: 70%;
    font-size: 14px;;
}

.panel-deals{
    font-size: 16px;
}


/** hero- section **/

.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 90%;
    margin-bottom: 25px;
}


/**  content **/

.box{
    height: 370px;
    width: 23%;
    background-color: white;
    padding: 20px  0px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.box-img{
    
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-size: cover;
}

.box-content{
    margin-left: 16px ;
    margin-right: 16px;
}

.box-content p{
    color: #007185;
}


/** footer **/

footer{
    margin-top: 15px;
}

.top-panel{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-panel a {
    color: white;
    font-size: 14px;
}

.link-panel{
    background-color: #222f3d;
    color: white;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul a{
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #dddddd;
}
ul p{
    font-size: 18px;
    font-weight: 700;
}

.bottom-panel{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    color: white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}




.last-panel{
    background-color:#0f1111 ;
    height: 80px;
    color: white;
    font-size: 12px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.privacy{
 
 padding-top: 25px;

}

.copyright{
   margin-top: 5px;
  
}
.box-content h2{
    text-align: center;
}